.author {
    background-color: white;
    width: 100%;
}

.author__content {
    padding: 80px 104px;
    display: grid;
    grid-template-columns: 464px calc(100vw - 464px - 208px - 56px - 112px);
    grid-template-rows: auto;
    column-gap: 56px;
}

.author__avatar {
    width: 464px;
    height: 464px;
    grid-row: 1 / 2; 
    grid-column: 1; 
    border-radius: 100%;
    object-fit: cover;
}

.author__info_title {
    margin: 0;
    padding-top: 51px;
    font-family: Roboto Slab;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.author__info_text1 {
    margin: 0;
    margin-top: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.author__info_text2 {
    margin: 0;
    margin-top: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}





@media (min-width: 320px){

    .author__content {
        padding: 32px 24px;
        display: grid;
        grid-template-columns: 272px;
        grid-template-rows: auto;
        row-gap: 24px;
        align-items: center;
        justify-content: center;
    }
    
    .author__avatar {
        width: 272px;
        height: 272px;
        grid-row: 1 / 2;
        border-radius: 100%;
        object-fit: cover;
    }
    
    .author__info_title {
        margin: 0;
        padding: 0;
        font-family: Roboto Slab;
        font-size: 40px;
        font-weight: 400;
        line-height: 46px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: black;
    }
}

@media (min-width: 680px){
    .author__content {
        padding: 40px 40px;
        display: grid;
        grid-template-columns: 232px calc(100vw - 232px - 80px - 32px);
        grid-template-rows: auto;
        column-gap: 32px;
    }
    
    .author__avatar {
        width: 232px;
        height: 232px;
        grid-row: 1 / 2; 
        grid-column: 1; 
        border-radius: 100%;
        object-fit: cover;
        align-self: center;
    }
    
    .author__info_title {
        margin: 0;
        padding: 0;
        font-family: Roboto Slab;
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: black;
    }
} 

@media (min-width: 1440px){

    .author__content {
        padding: 80px 104px;
        display: grid;
        grid-template-columns: 464px calc(100vw - 464px - 208px - 56px - 112px);
        grid-template-rows: auto;
        column-gap: 56px;
    }
    
    .author__avatar {
        width: 464px;
        height: 464px;
        grid-row: 1 / 2; 
        grid-column: 1; 
        border-radius: 100%;
        object-fit: cover;
    }
    
    .author__info_title {
        margin: 0;
        padding-top: 51px;
        font-family: Roboto Slab;
        font-size: 40px;
        font-weight: 400;
        line-height: 46px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: black;
    }
} 

