.content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-image: url(../images/imagem_fundo.jpg);
  background-size: cover;
  min-height: 576px;
}