.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  gap: 46px;
}

.nav__inicio {
  padding: 0;
  border: 0;
  margin: 0;
  background-color: transparent;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  cursor: pointer;
}

.nav__my-articles {
  padding: 0;
  border: 0;
  margin: 0;
  background-color: transparent;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  cursor: pointer;
}

.nav__marcador {
  padding: 25px 10px;
  border-bottom: 3px solid white;
}

.nav__marcador_black {
  padding: 25px 10px;
  border-bottom: 3px solid black;
}

.nav__black {
  color: black;
}

.nav__signin {
  padding: 0;
  background-color: transparent;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none; 
  color: white;
  width: 156px;
  height: 48px;
  top: 19px;
  left: 1160px;
  gap: 0px;
  border-radius: 100px;
  border: 1px solid #D1D2D6;
  opacity: 0px;
  cursor: pointer;
}

.nav__signout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  background-color: transparent;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none; 
  color: white;

  min-width: 136px;
  max-width: 200px;
  overflow: hidden;
  height: 48px;
  top: 19px;
  left: 1160px;
  border-radius: 100px;
  border: 1px solid #ffffff;
  opacity: 0px;
  cursor: pointer;
}

.nav__signout_black {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  background-color: transparent;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none; 
  color: black;

  min-width: 136px;
  max-width: 200px;
  overflow: hidden;
  height: 48px;
  top: 19px;
  left: 1160px;
  border-radius: 100px;
  border: 1px solid #000000;
  opacity: 0px;
  cursor: pointer;
}


.nav__signout-sign {
  width: 24px;
  height: 24px;
  top: 31px;
  left: 1297px;
}

.nav__user {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  margin: 0;
  padding: 0;
  max-width: 160px;
  overflow: hidden;
}

.nav__user_black {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: black;
  margin: 0;
  padding: 0;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav__logged-in__sair {
  color: #A9A9A9;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.nav__button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: white;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

/* @media (min-width: 320px){

  .nav__logo-link {
    margin-bottom: 32px;
    margin-left: 27px;
  }

  .nav__logo {
    max-width: 126px;
  }
}

@media (min-width: 880px){

  .nav__logo-link {
    margin: 0;
    margin-bottom: 41px;
  }

  .nav__logo {
    max-width: 173px;
  }
} */

