.success-popup {
  display: none;
}

.success-popup_opened {
  display: flex;
  width: 100%;
  height: 100%;
  /* max-width: 1280px; */
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
}

.success-popup__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  position: fixed;
  top: calc((100vh - 182px) / 2 - 85px);
  width: 430px;
  height: 182px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
  padding: 0 36px;
  padding-top: 43px;
  z-index: 3;
}

.success-popup__close-button {
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../images/CloseIcon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: fixed;
  top: calc(((100vh - 182px) / 2) - 123px);
  right: calc(((100% - 430px) / 2) - 40px);
  padding: 0;
  border: 0;
  cursor: pointer;
}

.success-popup__close-button:hover{
  opacity: 60%;
}

.success-popup__title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #000000;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.success-popup_signin {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: #2F71E5;
}

.success-popup__form {
  margin-bottom: 16px;
}

.success-popup__text {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.success-popup__link {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #4983E8; 
}



@media (min-width: 320px){
  .success-popup__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    position: fixed;
    top: calc((100vh - 182px) / 2 - 85px);
    width: 100%;
    height: 182px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;
    padding: 0 36px;
    padding-top: 43px;
    z-index: 3;
  }


.success-popup__close-button {
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../images/CloseIcon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: fixed;
  top: 40px;
  right: 20px;
  padding: 0;
  border: 0;
  cursor: pointer;
}
  
}

@media (min-width: 680px){
  .success-popup__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    position: fixed;
    top: calc((100vh - 182px) / 2 - 85px);
    width: 430px;
    height: 182px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;
    padding: 0 36px;
    padding-top: 43px;
    z-index: 3;
  }

  
.success-popup__close-button {
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../images/CloseIcon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: fixed;
  top: calc(((100vh - 182px) / 2) - 123px);
  right: calc(((100% - 430px) / 2) - 40px);
  padding: 0;
  border: 0;
  cursor: pointer;
}
} 

@media (min-width: 1440px){
  .success-popup__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    position: fixed;
    top: calc((100vh - 182px) / 2 - 85px);
    width: 430px;
    height: 182px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;
    padding: 0 36px;
    padding-top: 43px;
    z-index: 3;
  }
  

.success-popup__close-button {
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../images/CloseIcon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: fixed;
  top: calc(((100vh - 182px) / 2) - 123px);
  right: calc(((100% - 430px) / 2) - 40px);
  padding: 0;
  border: 0;
  cursor: pointer;
}
} 
